.main-div{
    display: grid;
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.results {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin: 20px;
  }
  
  .results h2 {
    color: #007BFF; 
  }
  
  .results p {
    line-height: 1.5;
  }
  
  
  