.title h1{
    text-align: center;
    font-size: 30px;
}
.mockup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    height: 100vh;
    margin-bottom: 50px;
}
.mockup img{
    width: 40vw;
}
.product-two img{
    width: 35vw;
}